@use 'variables' as v;

@font-face {
    font-family: 'bfont';
    src: url('./fonts/bfont-webfont.woff2') format('woff2'),
         url('./fonts/bfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'bfont', sans-serif;
    font-size: 11px;
    color: v.$white;
}

a,  a:visited, a:link, *|*:link {
    text-decoration: none;
    color: #8ebf42;
}
/* mouse over link */
a:hover {
color: #ce0000;
}
/* selected link */
a:active {
color: #800000;
}
h4,p {
    text-shadow: 0px 1px 1px v.$black;
}
span {
    text-decoration: underline;
}