$orange: #F19929;
$blue: #5680C2;
$white: #fff;

$grey-dark: #2C2C2C;
$grey-neutral: #383838;
$grey-outline: #404040;
$grey-outlinedark: #3B3B3B;
$grey-light: #595959;
$black: #000;
$grey-highlight: #424242;

$radius: 4px;